.home-container {

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:
    radial-gradient(
        circle at top,
        #1d2935,
        #070a0e
    );

    color:white;

}



.home-card {

    width:700px;

    padding:50px;

    text-align:center;

    background:#111820;

    border:1px solid #26313b;

    border-radius:25px;

    box-shadow:
    0 25px 70px rgba(0,0,0,.5);

}



.logo {

    font-size:45px;

}



.home-card h1 {

    font-size:36px;

    margin:20px 0;

}



.subtitle {

    color:#aab4bd;

    font-size:17px;

    line-height:1.6;

}



.home-card h2 {

    margin-top:40px;

}



.choice-container {

    display:flex;

    gap:25px;

    margin-top:30px;

}



.choice-card {

    flex:1;

    display:flex;

    gap:15px;

    align-items:center;

    text-align:left;

    padding:25px;

    background:#151e27;

    color:white;

    border:1px solid #2d3945;

    border-radius:18px;

    cursor:pointer;

    transition:.3s;

}



.choice-card span {

    font-size:35px;

}



.choice-card h3 {

    margin:0 0 8px;

}



.choice-card p {

    margin:0;

    color:#9ba7b1;

}



.choice-card:hover {

    transform:translateY(-6px);

    border-color:#4fd8c4;

    background:#19242e;

}