.sidebar{

    width:260px;
    background:#11161b;
    border-right:1px solid #252c33;
    color:white;

    display:flex;
    flex-direction:column;

    padding:20px;
}

.new-chat{

    background:#4fd8c4;
    border:none;

    padding:12px;

    border-radius:8px;

    cursor:pointer;

    font-weight:600;
}

.chat-item{

    padding:12px;

    margin-top:10px;

    border-radius:8px;

    cursor:pointer;
}

.chat-item:hover{

    background:#1f262d;
}